@import url("reset.css");


body{
   font-family: "Inter", sans-serif;
   font-size: 18px;
   line-height: 1.5;
   color: cadetblue;
}
.header__container {
   background: url("../img/subtle-prism.svg") center no-repeat;
   padding: 80px 30px;
   color: rgb(130, 192, 142);
   text-shadow: 4px 4px 10px black;
   font-size: 24px;
   text-align: right;
   box-shadow: 0px 5px 20px 5px black;
   margin-bottom: 30px;
}
[class*="__bloc"] {
   max-width: 1200px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}
[class*="__title"]{
   font-size: 22px;
   text-align: center;
   letter-spacing: 5px;
   text-decoration: underline;
   margin-bottom: 20px;
}
[class*="__section"]{
   padding: 30px 15px;
   /* box-shadow: 0px 5px 20px 5px black; */
}
.main__block > *:not(:last-child){
   margin-bottom: 30px;
}
.icons__section, .content-img__section {
   background-color: #dddcdc83;
}
[class*="__text"]{
   margin-bottom: 20px;
}
.design-svg__section {
   background-color: #aaaaaa83;
}
.main__container{
   padding-bottom: 30px;
}
[src="img/images/18.webp"]{
   width: 400px;
}