@import url("reset.css");

body{
   font-family: 'Poppins', sans-serif;
}

.header {
}

[class*="__container"]{
   max-width: 1270px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 37px;
}
.header__container{
   text-align: center;
}
.header__container>* {
   display: inline-block;
   margin-bottom: 37px;
}
.header__logo {
}
.header__navigation>* {
   display: inline-block;
}
.menu {
}
.menu__item {
}
.header__social-media>* {
   display: inline-block;
}
.media-social {
}
.media-social__item {
}
.header__search {
}
.header__body {
}
.body-header {
}
.body-header__image {
}
.header__author {
}
.header__title {
}
.body-header__list {
}
.main {
}
.main__container {
}
.gallery__title,
.gallery__menu {
   display: inline-block;
}
.gallery__menu>*{
   display: inline-block;
}
.gallery__menu>*:not(:last-child){
   margin-right: 25px;
}

.gallery__title{
   max-width: 393px;
   font-weight: 700;
   font-size: 25px;
   line-height: 40px;
   margin-right: 270px;
   margin-bottom: 45px;
}
.gallery__menu {
   font-weight: 500;
   font-size: 12px;
   line-height: 25px;
   color: #C4C4C4;
}
.list {
}
.list__position {
}
.main__gallery>* {
   display: inline-block;
}
.main__gallery{
   margin-bottom: 100px;
}
.gallery {
}
.gallery__column {
   margin-bottom: 30px;
}
.gallery-column {
   font-weight: 500;
   font-size: 16px;
   line-height: 25px;
}
.gallery-column>*:last-child{
   max-width: 393px;
}
.gallery-column>*:not(:last-child){
   margin-bottom: 30px;
}
.gallery-column__img {
}
.gallery-column__data {
}
.gallery-column__title {
}
.row-gallery__column {
}
.gallery__title--margin {
   margin-bottom: 45px;
   font-weight: 700;
   font-size: 25px;
   line-height: 40px;
}
.gallery-plus>* {
   display: inline-block;
}
.gallery-plus__block>*:last-child {
   max-width: 293px;
}
.gallery-plus__img {
}
.body-gallery-plus__data {
}
.gallery-plus__title {
}
.gallery-plus__data {
}
.footer {
   background-color: #212529;
}
.footer__container {
}
.footer__block {
   color: #F8F9FA;
   padding-top: 100px;
   padding-bottom: 100px;
}
.footer__block>*{
   display: inline-block;
}
.footer__logo {
}
.footer__naw>* {
   display: inline-block;
}
.naw {
}
.naw__item {
}
.footer__social-media>* {
   display: inline-block;
}
.footer__line {
}
.footer__adress {
}
.footer__copyright {
}