@import url(https://fonts.googleapis.com/css?family=Comfortaa:regular,600,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Comfortaa";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Comfortaa";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 93.75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

html {
  scroll-behavior: smooth;
}

.page {
  padding-top: 13.75rem;
  background-color: #46494c;
}

.page_bg-img {
  position: relative;
}

.no-webp .page_bg-img::before{
  background: url("../img/logo/brain.png") 0 0/cover no-repeat; }

.page_bg-img::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.05;
}

.page__slogan:not(:last-child) {
  margin-bottom: 3.125rem;
}

.page__homework {
  padding-bottom: 2.5rem;
}

.title_main {
  font-weight: 700;
}

.title-h1 {
  font-weight: 600;
}

.title-h1:not(:last-child) {
  margin-bottom: 1.875rem;
}

.title-h3 {
  font-size: 1.125rem;
  line-height: 1.5;
}

.header {
  position: fixed;
  background-color: rgba(52, 54, 57, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 5rem;
  position: relative;
  z-index: 51;
  -webkit-animation: rotate-logo 2s infinite linear;
          animation: rotate-logo 2s infinite linear;
}

.header__logo img {
  width: 100%;
}

@-webkit-keyframes rotate-logo {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(-20deg);
            transform: rotateX(0deg) rotateY(-20deg);
  }

  50% {
    -webkit-transform: rotateX(-30deg) rotateY(0deg);
            transform: rotateX(-30deg) rotateY(0deg);
  }

  100% {
    -webkit-transform: rotateX(0deg) rotateY(-20deg);
            transform: rotateX(0deg) rotateY(-20deg);
  }
}

@keyframes rotate-logo {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(-20deg);
            transform: rotateX(0deg) rotateY(-20deg);
  }

  50% {
    -webkit-transform: rotateX(-30deg) rotateY(0deg);
            transform: rotateX(-30deg) rotateY(0deg);
  }

  100% {
    -webkit-transform: rotateX(0deg) rotateY(-20deg);
            transform: rotateX(0deg) rotateY(-20deg);
  }
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1.875rem;
}

.menu-header__link {
  padding: 0.5rem 0.9375rem;
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
}

.menu-header__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0.125rem;
  background-color: red;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-header__link.active {
  color: blue;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  background-color: rgb(52, 54, 57);
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.625rem;
}

.footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
  height: 5rem;
  position: relative;
}

.footer__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.page__container {
  position: relative;
  z-index: 2;
  margin-bottom: 2.5rem;
}

.task__header {
  margin-bottom: 1.875rem;
}

.question-task p {
  line-height: 1.4;
}

.question-task p span {
  color: transparent;
}

.question-task__main {
  font-size: 1rem;
  line-height: 1.4;
  text-indent: 2.5rem;
}

.question-task__main p {
  line-height: 1.3;
}

.question-task__main p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.question-task__main ul {
  display: -ms-grid;
  display: grid;
  gap: 0.625rem;
}

.question-task__main ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question-task__main ul li::before {
  content: "";
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background-color: #000;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.25rem;
          flex: 0 0 0.25rem;
}

.question-task__main span {
  color: transparent;
}

.question-task__main:not(:last-child) {
  margin-bottom: 1.25rem;
}

.question-task__list {
  padding-left: 2.5rem;
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
}

.question-task img {
  max-width: 18.75rem;
}

.body-task__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.ansver-task__body {
  padding: 0rem 0rem 0rem 1.25rem;
}

.ansver-task__body p span {
  font-size: 0.5rem;
}

.ansver-task__body p:not(:last-child) {
  margin-bottom: 1.25rem;
}

.ansver-task__table {
  border: 0.0625rem solid #000;
}

.ansver-task__table:not(:last-child) {
  margin-bottom: 1.25rem;
}

.ansver-task__table th,
.ansver-task__table td {
  border: 0.0625rem solid #000;
  padding: 0.3125rem 0.625rem;
  font-size: 1rem;
}

.ansver-task__table th {
  text-align: left;
}

.ansver-task__table tr {
  text-align: center;
}

.ansver-task__table-hw2-task6 th {
  text-align: left;
}

.ansver-task__table-hw2-task6 th:first-child {
  text-align: right;
}

.ansver-task__table-hw2-task6 td {
  text-align: right;
}

.ansver-task__table-hw2-task6 td:first-child {
  text-align: left;
}

.ansver-task__table-hw2-task6 th,
.ansver-task__table-hw2-task6 td {
  padding: 0.3125rem 0.625rem;
}

.ansver-task__task-answer {
  position: absolute;
  bottom: 5%;
  left: 50%;
  font-size: 3.125rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.ansver-task__image {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  max-width: 18.125rem;
  height: 18.125rem;
}

.ansver-task__image::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(125, 185, 232, 0)), color-stop(50%, rgba(234, 244, 251, 0)), to(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, rgba(234, 244, 251, 0) 50%, rgba(255, 255, 255, 0.8) 100%);
  z-index: 1;
}

.ansver-task__image-7-2 {
  border-radius: 0.625rem;
  overflow: hidden;
  max-width: 17.5rem;
}

.ansver-task__image-7-2 img {
  width: 100%;
}

.ansver-task__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ansver-task__button-hw5-task0,
.ansver-task__button-game {
  padding: 0.625rem 1.25rem;
  border-radius: 0.3125rem;
  background-color: rgb(211, 38, 64);
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.ansver-task__button-hw5-task0:not(:last-child),
.ansver-task__button-game:not(:last-child) {
  margin-right: 1.25rem;
}

.ansver-task__list {
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
}

.ansver-task__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ansver-task__list li::before {
  content: "";
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  background-color: #000;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.3125rem;
          flex: 0 0 0.3125rem;
}

.ansver-task__item-hw5-task2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ansver-task__item-hw5-task2 label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.25rem;
          flex: 0 0 6.25rem;
}

.ansver-task__item-hw5-task2 input {
  border: 0.0625rem solid #000;
  padding: 0.3125rem 0.625rem;
  background-color: transparent;
}

.ansver-task__items-hw5-task6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ansver-task__items-hw5-task6 table {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.ansver-task__button-game {
  margin-right: 1.875rem;
}

.hw5-task7 {
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
}

.hw5-task7 h4 {
  font-size: 1.125rem;
}

.hw5-task7 h4:not(:last-child) {
  margin-bottom: 0.625rem;
}

.hw5-task7 p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.items-hw5-task12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.items-hw5-task12:not(:last-child) {
  margin-bottom: 1.875rem;
}

.ansver-task__title {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.exercise__title {
  text-align: center;
}

.exercise__buttons-top {
  position: fixed;
  top: 11.25rem;
  left: -3.94%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.exercise__button-top {
  background-color: rgb(20, 165, 155);
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  padding: 0.625rem;
}

.exercise__button-top::after {
  content: ">>";
}

.exercise__items {
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
}

.exercise__item {
  padding: 0.9375rem 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.no-webp .exercise__item::before{
  background: url("../img/logo/finger_tap.png") 0 0/100% no-repeat; }

.exercise__item::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-animation: arrow-wibe 2s ease infinite;
          animation: arrow-wibe 2s ease infinite;
}

@-webkit-keyframes arrow-wibe {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes arrow-wibe {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.exercise__item:nth-child(2)::before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.exercise__item:nth-child(3)::before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.exercise__item:nth-child(4)::before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.exercise__item:nth-child(5)::before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.exercise__item:nth-child(6)::before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.exercise__item:nth-child(7)::before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.exercise__button-up {
  position: absolute;
  bottom: 0;
  right: 0;
}

.item-exercise__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-exercise__question {
  line-height: 1.3;
}

.item-exercise__question p {
  line-height: 1.3;
}

.item-exercise__question p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-exercise__question ul {
  display: -ms-grid;
  display: grid;
  gap: 0.625rem;
}

.item-exercise__question ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.item-exercise__question ul li::before {
  content: "";
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.25rem;
          flex: 0 0 0.25rem;
  background-color: #000;
}

.section-ex__title {
  text-align: right;
  position: relative;
}

.section-ex__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.section-ex__title::after {
  content: "";
  width: 60%;
  height: 0.0625rem;
  background-color: #000;
  position: absolute;
  bottom: 0;
  right: 0;
}

.top-buttons {
  position: fixed;
  top: 9.375rem;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.top-buttons__list {
  display: -ms-grid;
  display: grid;
  gap: 0.625rem;
}

.top-buttons__link {
  background-color: rgba(20, 165, 155, 0.5);
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  padding: 0.625rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#section2,
#section3 {
  padding-top: 9.375rem;
}

.slogan {
  height: 100vh;
}

.slogan__container {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 100vh;
  grid-template-rows: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slogan__title {
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
}

.slogan__blockquote {
  font-size: 2.125rem;
  line-height: 1.1764705882;
}

.slogan__author {
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 1.25rem;
}

.slogan__author::before {
  content: "";
  width: 1.875rem;
  height: 0.0625rem;
  background-color: #000;
}

.slogan__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.lessons__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.lessons__body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
  gap: 1.875rem;
}

.lessons__body:not(:last-child) {
  margin-bottom: 3.125rem;
}

.lessons__button {
  text-align: center;
}

.lessons__button a {
  padding: 0.9375rem 1.5625rem;
  font-size: 1.25rem;
  border-radius: 0.375rem;
  background-color: rgba(52, 54, 57, 0.7);
  color: #BDBDBD;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-lesson {
  -webkit-box-shadow: 0rem 0rem 0.625rem 0.25rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0rem 0.625rem 0.25rem rgba(0, 0, 0, 0.1);
}

.item-lesson__media {
  position: relative;
  padding-top: 56.231884%;
  /* 194/345 */
}

.item-lesson__media iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-lesson__content {
  padding: 0.9375rem 1.5625rem;
}

.item-lesson__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-lesson__links {
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
}

.item-lesson__link {
  color: #BDBDBD;
  line-height: 1.4285714286;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.homework__container {
  position: relative;
  z-index: 2;
}

.homework__body {
  padding-top: 2.5rem;
}

.homework__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.content-homework {
  font-size: 1.25rem;
  line-height: 1.5;
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}

.content-homework__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-homework__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.content-homework__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0.9375rem 1.5625rem;
  font-size: 1.25rem;
  border-radius: 0.375rem;
  background-color: rgba(52, 54, 57, 0.7);
  color: #BDBDBD;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
}

.content-homework__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.content-homework__checkbox label {
  width: 8.75rem;
  color: #3DDABE;
  cursor: pointer;
}

@media (min-width: 47.99875em) {
  .exercise__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 61.99875em) {
  .top-buttons__link {
    -webkit-transform: translate(-80%, 0);
        -ms-transform: translate(-80%, 0);
            transform: translate(-80%, 0);
  }

  .top-buttons__link::after {
    content: ">";
  }
}

@media (min-width: 61.99875em) and (any-hover: hover) {
  .top-buttons__link:hover {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    background-color: rgb(20, 165, 155);
  }
}

@media (min-width: 93.75em) {
  .title_main {
    font-size: 1.875rem;
  }

  .title-h1 {
    font-size: 1.875rem;
  }

  .title-h2 {
    font-size: 1.375rem;
  }

  .lessons {
    padding-top: 3.125rem;
  }

  .lessons {
    padding-bottom: 3.125rem;
  }
}

@media (max-width: 20em) {
  .title_main {
    font-size: 1.25rem;
  }

  .title-h1 {
    font-size: 1.25rem;
  }

  .title-h2 {
    font-size: 1rem;
  }

  .lessons {
    padding-top: 1.25rem;
  }

  .lessons {
    padding-bottom: 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .top-buttons__link {
    -webkit-transform: rotate(-90deg) translate(-10%, -80%);
        -ms-transform: rotate(-90deg) translate(-10%, -80%);
            transform: rotate(-90deg) translate(-10%, -80%);
    position: relative;
    z-index: 5;
    background-color: rgba(20, 165, 155, 0.3);
    border-radius: 0 0 0.3125rem 0.3125rem;
  }

  .content-homework__text {
    font-size: 1rem;
  }

  .content-homework__link {
    padding: 0.625rem 0.9375rem;
    font-size: 1rem;
  }

  .content-homework__checkbox label {
    width: 6.25rem;
  }

  .content-homework__checkbox {
    font-size: 1rem;
  }
}

@media (max-width: 47.99875em) {
  .page {
    padding-top: 11.25rem;
  }

  .page {
    padding-top: 7.5rem;
  }

  .header__container {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }

  .header__logo {
    max-width: 3.125rem;
  }

  .menu-header__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .menu-header__link {
    font-size: 1.25rem;
    padding: 0.625rem 0rem;
  }

  .exercise__buttons-top {
    top: 5.625rem;
  }

  .exercise__item {
    -webkit-box-shadow: 0 0 0.375rem 0.0625rem rgba(255, 255, 255, 0.2);
            box-shadow: 0 0 0.375rem 0.0625rem rgba(255, 255, 255, 0.2);
  }

  .top-buttons {
    top: 5.625rem;
  }

  #section2,
  #section3 {
    padding-top: 1.875rem;
  }
}

@media (max-width: 34.375em) {
  .content-homework {
    gap: 1.875rem;
  }

  .content-homework__item {
    display: -ms-grid;
    display: grid;
    -webkit-box-shadow: 0 0 0.375rem 0rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0.375rem 0rem rgba(0, 0, 0, 0.5);
    border-radius: 0.375rem;
    padding: 0.625rem;
  }
}

@media (max-width: 26.25em) {
  .header__logo {
    max-width: 2.5rem;
  }

  .menu-header__list {
    gap: 0.9375rem;
  }

  .menu-header__link {
    font-size: 1rem;
    padding: 0.9375rem 0rem;
  }
}

@media (min-width: 20em) and (max-width: 93.75em) {
@supports (font-size: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .title_main {
      font-size: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .title_main {
      font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 73.75);
    }
}

@supports (font-size: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .title-h1 {
      font-size: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.875rem )) {
    .title-h1 {
      font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 73.75);
    }
}

@supports (font-size: clamp( 1rem , 0.8983050847rem  +  0.5084745763vw , 1.375rem )) {
    .title-h2 {
      font-size: clamp( 1rem , 0.8983050847rem  +  0.5084745763vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8983050847rem  +  0.5084745763vw , 1.375rem )) {
    .title-h2 {
      font-size: calc(1rem + 0.375 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.7415254237rem  +  2.5423728814vw , 3.125rem )) {
    .lessons {
      padding-top: clamp( 1.25rem , 0.7415254237rem  +  2.5423728814vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.7415254237rem  +  2.5423728814vw , 3.125rem )) {
    .lessons {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 73.75);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.7415254237rem  +  2.5423728814vw , 3.125rem )) {
    .lessons {
      padding-bottom: clamp( 1.25rem , 0.7415254237rem  +  2.5423728814vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.7415254237rem  +  2.5423728814vw , 3.125rem )) {
    .lessons {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 73.75);
    }
}
}

@media (any-hover: hover) {
  .menu-header__link:hover {
    color: blue;
  }

  .menu-header__link:hover::after {
    visibility: visible;
    opacity: 1;
    left: 0;
    width: 100%;
  }

  .ansver-task__button-hw5-task0:hover,
  .ansver-task__button-game:hover {
    background-color: rgb(202, 13, 13);
  }

  .exercise__buttons-top:hover {
    left: 0;
  }

  .exercise__item:hover {
    -webkit-box-shadow: 0 0 0.625rem 0.25rem rgba(255, 255, 255, 0.3);
            box-shadow: 0 0 0.625rem 0.25rem rgba(255, 255, 255, 0.3);
  }

  .lessons__button a:hover {
    color: #3DDABE;
    background-color: rgb(32, 33, 35);
  }

  .item-lesson__link:hover {
    color: #3DDABE;
  }

  .content-homework__link:hover {
    color: #3DDABE;
    background-color: rgb(32, 33, 35);
  }
}

.webp .page_bg-img::before{ background: url(../img/logo/brain.webp) 0 0/cover no-repeat; }

.webp .exercise__item::before{ background: url(../img/logo/finger_tap.webp) 0 0/100% no-repeat; }