@font-face {
   font-family: 'icons';
   src: url('../fonts/icons.woff2') format('woff2'), url('../fonts/icons.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
 
[class*=" _icon-"] {
   &::before {
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'icons' !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: block;
   }
}

._icon-search:before {
   content: "\e90c";
 }
._icon-cart:before {
  content: "\e900";
}
._icon-checkmark:before {
  content: "\e901";
}
._icon-close:before {
  content: "\e902";
}
._icon-favorite:before {
  content: "\e903";
}
._icon-minus:before {
  content: "\e904";
}
._icon-pen:before {
  content: "\e905";
}
._icon-plus:before {
  content: "\e906";
}
._icon-s-fb:before {
  content: "\e907";
}
._icon-s-inst:before {
  content: "\e908";
}
._icon-s-tw:before {
  content: "\e909";
}
._icon-select-arrow:before {
  content: "\e90a";
}
._icon-slider-arrow:before {
  content: "\e90b";
}
